/*Div that is used to store the logo image*/
.logo{
    width: 50%;
    height: 111px;
    background-size: cover;
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.top-header{
    display: flex;
    gap: 10px;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 30px;
}

/*logo image*/
#logoImg{
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
    width: auto;
    height: 111px;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 100%; /* Shrink the image to fit the width of the container */
    background-size: cover; /* Cover the entire div with the background image */
    background-position: center; /* Center the background image */
}
/*login btn styling functionallity added later*/
#login-btn{
    width:100px;
    height:20px;
    background-color: black;
    position: relative;
    left:98%;
    text-align: center;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight:normal;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

#login-btn:hover{
    border-top: 3px solid #FF0000;
}

/*header space with logo, nav bar, decorations and login btn*/
.header{
    width:100%;
    background-color: black;
    margin: 10px;
    /*padding-left: 25%;
    padding-right: 25%;*/
    padding-top: 10px;
    height:fit-content;
}

/*Nav bar with buttons for each page*/
.navBar{
    display: flex;
    gap:30px;
    width:96%;
    height:50px;
    margin: 10px;
    margin-left: 3%;
    background-color: black;
    font-size: large;
}

.navBar a{
    /*display: flex;*/
    gap:30px;
    width:100%;
    height:30px;
    /*margin: 10px;*/
    text-align: center;
    background-color: red;
    text-decoration: none;
    color: inherit;
}
.navBar a:active {

    color: red;
}

.navBar a:hover{
    /*background-color: black;*/
    color: silver;
}

.navBar div:hover{
    background-color: black;
    /*color: black;*/
    padding-bottom: 20px;
}

.Cars{
    width:25%;
    height:50px;
    background-color: black;
    color: white;
    align-content: center;
}

.Cars:hover{
    border-top: 3px solid red;
}

.Brands{
    width:25%;
    height:50px;
    background-color: black;
    color: white;
}

.Brands:hover{
    border-top: 3px solid white;
}

.Compare{
    width:25%;
    height:50px;
    background-color: black;
    color: white;
}

.Compare:hover{
    border-top: 3px solid mediumblue;
}

.Find{
    width:25%;
    height:50px;
    background-color: black;
    color: white;
}

.Find:hover{
    border-top: 3px solid white;
}


/*3 colour bar decoration*/
.bar{
    width:100%;
    height:20px;
    background-color: white;
    background-size: cover;
    background: linear-gradient(to right, red 0%, red 33.33%, white 33.33%, white 66.66%, mediumblue 66.66%, mediumblue 100%);
}

@media (max-width: 1300px)
{
    .logo{
        width: 900px;
        height: 111px;
        background-size: cover;
        background-color: black;
        margin-left: 15%;
        margin-right: 15%;
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        flex-basis: 30%;
    }

    .top-header{
        display: flex;
        gap: 1px;
        background-color: black;
        padding-left: 30%;
        padding-right: 30%;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: fit-content;
    }

    /*logo image*/
    #logoImg{
        background-image: url("../img/Logo.png");
        background-repeat: no-repeat;
        width: 500px;
        height: 111px;
        margin-left: 5%;
        margin-right: 5%;
        max-width: 100%; /* Shrink the image to fit the width of the container */
        background-size: contain; /* Cover the entire div with the background image */
        background-position: center; /* Center the background image */

    }

    /*login btn styling functionallity added later*/
    #login-btn{
        width:100px;
        height:20px;
        background-color: black;
        padding: 50px;
        /*left:100%;
        bottom:20%;*/
        text-align: center;
        padding:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight:normal;
        border: none;
        font-family: 'Montserrat', sans-serif;
    }

    #login-btn:hover{
        border-top: 3px solid #FF0000;
    }

    /*Nav bar with buttons for each page*/
    .navBar{
        display: flex;
        gap:30px;
        width:96%;
        height:50px;
        margin: 10px;
        margin-left: 3%;
        background-color: black;
        font-size: small;
    }

    .navBar a{
        /*display: flex;*/
        gap:30px;
        width:100%;
        height:30px;
        /*margin: 10px;*/
        text-align: center;
        background-color: red;
        text-decoration: none;
        color: inherit;
    }
    .navBar a:active {

        color: red;
    }

    .navBar a:hover{
        /*background-color: black;*/
        color: silver;
    }

    .navBar div:hover{
        background-color: black;
        /*color: black;*/
        padding-bottom: 20px;
    }
}